@page "/"

<table>
    <tbody>
        <tr>
            <td class="col left">
                <LeftColumn />
            </td>
            <td class="separator" draggable="false"></td>
            <td class="col middle">
                <TopBar />
                <div class="separatorHorizontal"></div>
                <Minigames />
            </td>
            <td class="separator" draggable="false"></td>
            <td class="col right">
                <Store />
            </td>
        </tr>
    </tbody>
</table>