<div id="minigames-view" class="view active">
    <Minigames />
</div>
<div id="options-view" class="view">
    <Options />
</div>
<div id="stats-view" class="view">
    <Stats />
</div>
<div id="info-view" class="view">
    <Info />
</div>
