<div id="bakeryNameContainer">
    <span id="bakeryNameText">
        <span id="bakeryName">null</span>'s bakery
    </span>
</div>

<div id="cookieInfoContainer">
    <span id="cookies"><span id="cookieNumber">0</span> cookies</span>
    <br />
    <span id="cps">per second: 0</span>
</div>

<div id="cookieContainer">
    <img class="shine" src="/images/shine.png" />
    <img class="shine" src="/images/shine.png" />
    <img id="cookie" src="/images/cookie.png" />
</div>