<div class="fs-2 fw-bold text-center text-white">Store</div>

<div class="separatorHorizontal" draggable="false"></div>

<div id="upgrades"></div>

<div class="separatorHorizontal" draggable="false"></div>

<table class="buyOrSell">
    <tr>
        <td id="buy" class="active">Buy</td>
        <td rowspan="2" id="buySell-1" class="active">1</td>
        <td rowspan="2" id="buySell-10">10</td>
        <td rowspan="2" id="buySell-100">100</td>
    </tr>
    <tr>
        <td id="sell">Sell</td>
    </tr>
</table>

<div id="buildingList">
    
</div>